@import "tailwindcss";

.mainclass {
  @apply p-5 pt-0 m-5 flex justify-center items-center gap-5;
}

.CartColors {
  @apply  bg-white/70  p-3 rounded-2xl shadow-2xl shadow-blue-800 hover:shadow-lg;
}
.PColors {
  @apply bg-gradient-to-b from-blue-300 text-black p-5 rounded-2xl hover:bg-blue-400 hover:text-black hover:cursor-grab;
}

