@import "tailwindcss";

.mainclass {
  @apply p-5 pt-0 m-5 flex justify-center items-center gap-5;
}

.CartColors {
  @apply bg-amber-200 p-5 rounded-2xl  hover:shadow-lg;
}
.PColors {
  @apply bg-red-800 text-amber-50 p-7 rounded-2xl hover:bg-red-400 hover:text-black hover:cursor-grab;
}

