@import "tailwindcss";

.mainclass {
  @apply p-10 pt-0 m-5 flex justify-center items-center gap-5;
}
.PColors {
  @apply bg-red-800 text-amber-50 p-7 rounded-2xl;
}
.CartColors {
  @apply bg-amber-200 p-5 rounded-2xl w-200 h-140;
}
